@media (min-width: 468px) {
  .container-1{
    display: flex;

  }
}


.container-1 div{
  padding: 10px;

}
.contenaire-1{
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
.box-1{
flex: 8;
}
.box-2{
   flex: 1;
  justify-content: flex-start;
}
.box-3{
flex: 6;
}
.photo{
  width: 50px;
  height: 50px;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
