<div class="container-1">
  <div class="box-1">
    <mat-sidenav-container class="contsidnav">
      <div>
        <div class="card">
          <mat-card>
            <div class="btn btn-block">
              <input #searchBox id="serch-box" placeholder="Filter" (keyup)="search(searchBox.value)" />
            </div>
            <div  *ngFor="let ens of  oenseignants | async" >
              <a class="list-group-item clearfix" [routerLink]="[ens._id]" routerLinkActive="active" (click)="onSelect(ens)">
                <div class="pull-left" >
                  <h4 class="list-group-item-heading">{{ens.titre}} {{ens?.nomComplet}}</h4>
                  <p class="list-group-item-text">{{ens.id}}-{{ens.cni}}-{{ens.specialite}}-{{ens.statut}}</p>

                </div>
                <span class="pull-right photo">
        <img [src]="ens?.pathPhoto || pathNullImage" class="img-responsive">
      </span>
                <hr/>

              </a>
            </div>
          </mat-card>
        </div>
      </div>

      <div>
        <ng-template #ensVide>
          <mat-card>
            <mat-card-title>
              <mat-chip-list>
                <mat-chip color="warn" selected="true">
                  <mat-icon></mat-icon>
                  <h6> {{succesErreur}}</h6>
                </mat-chip>
              </mat-chip-list>

            </mat-card-title>
          </mat-card>
        </ng-template>
      </div>

    </mat-sidenav-container>
  </div>
    <div class="box-2">

    <div class="" matTooltip="aller à l'accueil" matTooltipPosition="right">
      <a mat-mini-fab routerLink="/accueil" color="accent">
        <mat-icon>home</mat-icon>
      </a>
    </div>
    <div class="" matTooltip="aller à gérer" matTooltipPosition="left">
      <a mat-mini-fab routerLink="/enseignant" color="primary">
        <mat-icon>face</mat-icon>
      </a>
    </div>
    <div class="" matTooltip="créer un nouvel enseignant" matTooltipPosition="right">
      <a mat-mini-fab routerLink="creer" color="warn">
        <mat-icon>group</mat-icon>
      </a>
    </div>
  </div>

  <div class="box-3">
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

