
<script src="menubar.component.ts"></script>
<div class="panel panel-primary ">
  <p-header><span CLASS="btn btn-success">MENU DES ACTIVITES</span></p-header>
    <p-panelMenu [model]="items" ></p-panelMenu>

 <!-- <div class="panel-heading">
    FORMATION
  </div>-->
  <div class="panel-body" >
    <!--<ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a [routerLink]="['/accueil']" class="btn btn-primary">ACCUEIL</a></li>
      <li role="presentation"><a [routerLink]="['/invite']" class="btn btn-success" >INVITES</a></li>
      <li role="presentation"><a [routerLink]="['/etudiant']" class="btn btn-default">ETUDIANTS</a></li>
      <li role="presentation"><a [routerLink]="['/enseignant']" class="btn btn-danger">ENSEIGNANTS</a></li>
      <li role="presentation"><a [routerLink]="['/admin']" class="btn btn-info">ADMINS</a></li>
      <li role="presentation"><a [routerLink]="['/employe']" class="btn btn-primary">EMPLOYES</a></li>
      <li role="presentation"><a [routerLink]="['/formation']" class="btn btn-warning">FORMATIONS</a></li>
    </ul>-->

  </div>

</div>

