<div>
<mat-sidenav-container class="detail contsidnav">
  <mat-card class="creer-card mar-card" >
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <mat-list-item><h4>Professeur:  <strong>{{enseignant?.titre }} {{enseignant?.nomComplet}}</strong> </h4></mat-list-item>
        </mat-card-title>
        <mat-card-title>
          <mat-list-item><h4> Specialite : <strong>{{enseignant?.specialite}}</strong></h4> </mat-list-item>
          <mat-list-item><h4> Statut: <strong>{{enseignant?.statut }}</strong></h4> </mat-list-item>
        </mat-card-title>
        <mat-card-subtitle>
          <div mat-line>ID : {{enseignant?.id}}  <div class="pull-right">CNI : {{enseignant?.cni}}</div></div>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <button mat-mini-fab class="photo-fab" (click)="ajouterPhoto()">
      <mat-icon>add</mat-icon>
    </button>
    <img mat-card-image [src]="enseignant?.pathPhoto || pathNullImage" alt="Photo" class="img-card" >


    <mat-card-content>

      <mat-list>
        <mat-list-item *ngFor="let t of enseignant?.telephones" >
          <div>
            <h4> <mat-icon>phone</mat-icon> {{t.titre}} : {{t.numero}}</h4>
          </div>
        </mat-list-item>
        <mat-list-item>
          <h4><mat-icon>email</mat-icon>: {{enseignant?.adresse?.email}}</h4>
        </mat-list-item>
        <mat-list-item>
          <h4><mat-icon>email</mat-icon>: {{enseignant?.adresse?.codePostal}}</h4>
        </mat-list-item>
      </mat-list>

    </mat-card-content>
    <mat-card-actions class="butonrow">
      <button mat-raised-button color="primary" (click)="editerEnseignant()"> Editer</button>
      <button mat-raised-button color="warn" (click)="ajouterPhoto()"> photo</button>
      <button mat-raised-button color="accent" (click)="supprimerEnseignant(enseignant)">Supprimer</button>
    </mat-card-actions>
  </mat-card>
</mat-sidenav-container>
</div>
