<div class="container">
  <div class="row col-md-9">
    <div>
      <div>

      </div>
      <button pButton type="text" icon="fa-check" label="aller a accueil" class="ui-button-danger"
              [routerLink]="['/accueil']"></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-9">
      <div *ngIf="statusSucces===0 ; else successErreur">
        <div class="alert alert-success">{{successMesage}}</div>
      </div>
      <ng-template #successErreur>
        <div class="alert alert-danger" *ngIf="statusSucces === 1 || statusSucces === 2 || statusSucces === 3">
          {{successMesage}}
        </div>
      </ng-template>
      <p-dataTable [value]="invites" selectionMode="single" [(selection)]="selectedInvite"
                   (onRowDblclick)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true"
                   expandableRows="true" [contextMenu]="cm">
        <p-header>LES INVITES</p-header>
        <p-column expander="true" styleClass="col-icon"></p-column>
        <p-column field="id" header="ID" [sortable]="true"></p-column>
        <p-column field="cni" header="CNI" [sortable]="true"></p-column>
        <p-column field="titre" header="TITRE" [sortable]="true"></p-column>
        <p-column field="nom" header="NOM" [sortable]="true"></p-column>
        <p-column field="prenom" header="PRENOM" [sortable]="true"></p-column>
        <p-column field="raison" header="RAISON" [sortable]="true"></p-column>
        <p-column field="profil" header="PROFIL" [sortable]="true"></p-column>
        -->

        <template let-invite pTemplate="rowexpansion">
          <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2" style="text-align:center">
                <i class="fa fa-address-card" aria-hidden="true" style="cursor:pointer;float:left;margin-top:40px"
                   (click)="showModification(invite)"></i>
                <img src="">
              </div>
              <div class="ui-grid-col-6">
                <div class="ui-grid ui-grid-responsive ui-grid-pad">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4">Postal:</div>
                    <div class="ui-grid-col-10">{{invite.adresse.codePostal}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4 ">Quartier:</div>
                    <div class="ui-grid-col-10">{{invite.adresse.quartier}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4 ">Ville:</div>
                    <div class="ui-grid-col-10">{{invite.adresse.ville}}</div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-col-6">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-4 ">Mobile:</div>
                  <div class="ui-grid-col-10">{{invite.adresse.mobile}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-4 ">Fixe:</div>
                  <div class="ui-grid-col-10">{{invite.adresse.fixe}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-4 ">E-Mail:</div>
                  <div class="ui-grid-col-10">{{invite.adresse.email}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-4 ">Societe:</div>
                  <div class="ui-grid-col-10">{{invite.societe}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-4 ">Statut:</div>
                  <div class="ui-grid-col-10">{{invite.statut}}</div>
                </div>
              </div>
            </div>
          </div>

        </template>
        <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()"
                    label="Ajouter"></button>
          </div>
        </p-footer>
      </p-dataTable>
      <p-contextMenu #cm [model]="items" appendTo="body"></p-contextMenu>
      <p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>
    </div>
  </div>
  <div class="container">

  </div>
  <p-dialog header="Detail des invites" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
            [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="invite">
      <div class="ui-grid-row" *ngIf="invite.id != null">
        <div class="ui-grid-col-4"><label for="id">ID</label></div>
        <div class="ui-grid-col-8"><input pInputText id="id" [(ngModel)]="invite.id"/></div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="cni">CNI</label></div>
        <div class="ui-grid-col-8">
          <p-inputMask mask="cni-999" pInputText id="cni" [(ngModel)]="invite.cni"></p-inputMask>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label>TITRE</label></div>
        <p-dropdown [options]="titres" [(ngModel)]="invite.titre" [style]="{'width':'150px'}"></p-dropdown>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="nom">NOM</label></div>
        <div class="ui-grid-col-8"><input pInputText id="nom" [(ngModel)]="invite.nom"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="prenom">PRENOM</label></div>
        <div class="ui-grid-col-8"><input pInputText id="prenom" [(ngModel)]="invite.prenom"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="raison">RAISON</label></div>
        <div class="ui-grid-col-8"><input pInputText id="raison" [(ngModel)]="invite.raison"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label>PROFIL</label></div>
        <p-dropdown [options]="profils" [(ngModel)]="invite.profil" [style]="{'width':'150px'}"></p-dropdown>
      </div>

    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="annuler()" label="Annuler"></button>
        <button type="button" pButton icon="fa-check" (click)="save()" label="Sauver"></button>
      </div>
    </p-footer>
  </p-dialog>
  <!-- Dialogue pour l'expendable-->
  <p-dialog header="Detail des invites" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade"
            [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="invite">

      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="societe">SOCIETE</label></div>
        <div class="ui-grid-col-8"><input pInputText id="societe" [(ngModel)]="invite.societe"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label>STATUT</label></div>
        <p-dropdown [options]="statuts" [(ngModel)]="invite.statut" [style]="{'width':'150px'}"></p-dropdown>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="postal">POSTAL</label></div>
        <div class="ui-grid-col-8"><input pInputText id="postal" [(ngModel)]="invite.adresse.codePostal"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="quartier">QUATIER</label></div>
        <div class="ui-grid-col-8"><input pInputText id="quartier" [(ngModel)]="invite.adresse.quartier"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="ville">VILLE</label></div>
        <div class="ui-grid-col-8"><input pInputText id="ville" [(ngModel)]="invite.adresse.ville"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="email">EMAIL</label></div>
        <div class="ui-grid-col-8"><input pInputText id="email" [(ngModel)]="invite.adresse.email"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="mobile">MOBILE</label></div>
        <div class="ui-grid-col-8"><input pInputText id="mobile" [(ngModel)]="invite.adresse.mobile"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="bureau">BUREAU</label></div>
        <div class="ui-grid-col-8"><input pInputText id="bureau" [(ngModel)]="invite.adresse.bureau"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="fixe">FIXE</label></div>
        <div class="ui-grid-col-8"><input pInputText id="fixe" [(ngModel)]="invite.adresse.fixe"/></div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="annulerModif()" label="Annuler"></button>
        <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>


