<div class="contenaire-1">
  <div class="box-1">
    <h3>BIENVENUE DANS LA SALLE DES PROFESSEURS</h3>
  </div>
<div class="box-2">
  <mat-card>
<img src="./assets/images/ens.jpg">
  </mat-card>
</div>
  <div class="box-3">
    <button  mat-button color="primary" routerLink="/enseignant/liste">
      GERER LES PROFESSEURS
    </button>
  </div>
<div class="box-4">
      <mat-card-content>
        <section class="example-section">
          <mat-progress-bar
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue">
          </mat-progress-bar>
        </section>
      </mat-card-content>

</div>

</div>

