<div class="row">

  <div class="col-md-9 pull-left">
    <div class="panel panel-default">
      <!--l'entete du pannel-->
      <div class="panel-heading">
        {{title}}
      </div>
      <!--le corps du pannel-->
      <div class="panel-body">
        <div *ngIf="matiere">
          <!--la premiere ligne pour afficher le l'id -->
          <div class="row">
            <!--la colonne qui affiche l'entete de l'id-->
            <div class="col-xs-3">
              <div class="">
                <span class="label label-default">ID :</span>
              </div>
            </div>
            <!--la colonne qui affiche l'entete de la valeur de l'id-->
            <div class="col-md-6">
              <div class="">{{matiere.id}}</div>
            </div>

          </div>
          <!--la ligne qui affiche l'entete de le libelle-->
          <div class="row">

            <div class="col-xs-3">
              <!--la colonne qui affiche l'entete du libelle-->
              <div class="">
                <span class="label label-default">Libelle :</span>
              </div>
            </div>
            <!--la colonne qui affiche l'entete de la valeur du libelle-->
            <div class="col-md-6">
              <div class="">{{matiere.libelle}}</div>
            </div>

          </div>
          <!--la ligne qui affiche la description-->
          <div class="row">
            <!--la colonne qui affiche l'entete de la description-->
            <div class="col-xs-3">
              <div class="">
                <span class="label label-default">Description :</span>
              </div>
            </div>
            <!--la colonne qui affiche la valeur de la description-->
            <div class="col-md-6">
              <div class="">{{matiere.description}}</div>
            </div>

          </div>


        </div>
      </div>
      <!--le pied du pannel-->
      <div class="panel-footer">

        <button class="btn btn-success" (click)="editerMatiere()">
          <span class="glyphicon glyphicon-edit"></span>
        </button>

        <button class="btn btn-danger pull-right" (click)="supprimerMatiere()">
          <span class="glyphicon glyphicon-trash"></span>
        </button>


      </div>
    </div>
  </div>
</div>
