<div class="row container">
<div class="jumbotron text-center col-md-9">
  <h2 style="color: orange" align="center">
    {{title}}
    <br><i class="fa fa-refresh fa-spin fa-3x fa-fw " align="center" style="color: black" ></i>
  </h2>
  <hr>
<div>
  <button pButton type="text"  icon="fa-check" label="INVITES" class="ui-button-danger" (click)="onInvite()"></button>
  <button pButton type="text"  icon="fa-check" label="ETUDIANTS" CLASS="ui-button-success" (click)="onEtudiant()"></button>
  <button pButton type="text"  icon="fa-check" label="ENSEIGNANTS" class="ui-button-info" (click)="onEnseignant()"></button>
  <button pButton type="text"  icon="fa-check" label="ADMINISTRATEURS" class="ui-button-warning" (click)="onAdministrateur()"></button>
  <button pButton type="text"  icon="fa-check" label="FORMATION" ></button>

</div>


</div>
  <div class="col-md-9">
    <p-growl [value]="msgs"></p-growl>

    <p-gmap #gmap [style]="{'width':'100%','height':'320px'}" [options]="options" [overlays]="overlays"
            (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)" (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>
    <button type="button" pButton label="Clear" icon="fa-close" (click)="clear()" style="margin-top:10px"></button>
    <button type="button" pButton label="Reset" icon="fa-map-marker" (click)="initOverlays()" style="margin-top:10px"></button>
    <button type="button" pButton label="Zoom In" icon="fa-search-plus" (click)="zoomIn(gmap.getMap())" style="margin-top:10px"></button>
    <button type="button" pButton label="Zoom Out" icon="fa-search-minus" (click)="zoomOut(gmap.getMap())" style="margin-top:10px"></button>

    <p-dialog showEffect="fade" [(visible)]="dialogVisible" header="New Location">
      <div class="ui-grid ui-grid-pad ui-fluid" *ngIf="selectedPosition">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2"><label for="title">Label</label></div>
          <div class="ui-grid-col-10"><input type="text" pInputText id="title" [(ngModel)]="markerTitle"></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2"><label for="lat">Lat</label></div>
          <div class="ui-grid-col-10"><input id="lat" type="text" readonly pInputText [ngModel]="selectedPosition.lat()"></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2"><label for="lng">Lng</label></div>
          <div class="ui-grid-col-10"><input id="lng" type="text" readonly pInputText [ngModel]="selectedPosition.lng()"></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2"><label for="drg">Drag</label></div>
          <div class="ui-grid-col-10"><p-checkbox id="drg"[(ngModel)]="draggable" binary="true"></p-checkbox></div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button type="button" pButton label="Add Marker" icon="fa-plus" (click)="addMarker()"></button>
        </div>
      </p-footer>
    </p-dialog>
  </div>

</div>
