
<div class="row">
  <div class="col-md-6">
    <form (ngSubmit)="onSubmit()" #editeForm="ngForm">
      <div class="panel panel-default">
        <div class="panel-heading">{{titre}}</div>
        <div class="panel-body">
          <div class="form-group">
            <label>Libelle</label>
            <input type="text" class="form-control" id="libelle" required name="libelle" required  minlength="3" maxlength="30" [(ngModel)]="matiere.libelle" #libelle="ngModel">
          <div *ngIf="libelle.errors && (libelle.dirty || libelle.touched)" class="alert alert-danger">
        <div [hidden]="!libelle.errors.required">
          Le libelle ne peut etre  vide
        </div>
            <div [hidden]="!libelle.errors.minlength">
              Le libelle ne doit etre en dessous de 3 caractaire
            </div>
            <div [hidden]="!libelle.errors.maxlength">
              le libelle ne doit pas depasse 30 caractaire
            </div>
          </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea  class="form-control" id="description" required name="description"  minlength="7" maxlength="50" [(ngModel)] = "matiere.description" #description="ngModel"></textarea>
            <div *ngIf="description.errors && (description.dirty || description.touched)" class="alert alert-danger">
              <div [hidden]="!description.errors.required">
                la description ne peut etre  vide
              </div>
              <div [hidden]="!description.errors.minlength">
                La description ne doit etre en dessous de 7 caractaire
              </div>
              <div [hidden]="!description.errors.maxlength">
                la description ne doit pas depasse 50 caractaire
              </div>
            </div>
          </div>
        </div>

        <div class="panel-footer">

          <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-save">Enregistrer</span>
          </button>
          <button class="btn btn-danger pull-right" (click)="annuler()">
            <span class="glyphicon glyphicon-home">Annuler</span>
          </button>

        </div>
      </div>
    </form>
  </div>

</div>
