<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="alert alert-success" *ngIf="messageSucces">
        {{messageSucces}}
      </div>
<div class="panel panel-default">
  <div class="panel-heading">
    {{title}}
  </div>
  <div class="btn btn-block">
    <input #searchBox id="serch-box" (keyup)="search(searchBox.value)" placeholder="Rechercher une matiere"/>
  </div>
  <div class="panel-body">
    <ul class="matieres">
      <li *ngFor="let matiere of omatieres | async"
          [class.selected] ="matiere=== selectedMatiere " (click)="onSelect(matiere)">
        <span class="badge">{{matiere.id}}</span>
        {{matiere.libelle}}
      </li>
    </ul>
  </div>

</div>
      <!-- <p-orderList [value]="matieres" [listStyle]="{'height':'250px'}" [responsive]="true" header="Matieres"
                    filter="filter" filterBy="libelle" filterPlaceholder="Filter par le libelle" dragdrop="true">
         <ng-template let-matiere pTemplate="item">
           <div class="ui-helper-clearfix">

            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{matiere.libelle}}</div>
           </div>
         </ng-template>
       </p-orderList>-->
    </div>

    <div class="col-md-2">

      <div>
        <a class="btn btn-success" routerLink="/accueil">
          <span class="glyphicon glyphicon-home"></span>
        </a>

      </div>
      <br/>
      <div>
        <a class="btn btn-danger" routerLink="/matiere">
          <span class="glyphicon glyphicon-arrow-up" ></span>
        </a>

      </div>
      <br/>
      <div>
        <a type="button" class="btn btn-primary" routerLink="creer">
          <span class="glyphicon glyphicon-plus"></span>
        </a>

      </div>

    </div>
    <div class="col-md-7">

      <div>
        <router-outlet></router-outlet>

      </div>


    </div>
  </div>


</div>

